*{
	box-sizing:border-box;
	padding:0;
	margin:0;
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Play', sans-serif;
}
header{
	display: flex;
	margin: 4%;
	justify-content: space-between;
	
}
nav{
	justify-content: flex-end;
}
h1{
	font-size: 2.5rem;
	text-transform: uppercase;
}
a{
	text-transform: uppercase;
	text-decoration: none;
	border: 2px solid black;
	padding: 5px;
	color: black;
	border-radius: 3px;
}
.imgSection{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	width: 95%;
	height: 70vh;
	background-image: url("https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
}
h2{
	margin-bottom: 30px;
	font-size: 4rem;
}
.titleDiv{
	
}
.titleA{
	display: flex;
	justify-content: center;
	
}
.cardDiv{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}
.cardImg{
	width: 400px;
	
	margin: 20px;
	border-radius: 3px;
}
h5{
	text-align: center;
}
footer{
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
.contactA{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.socialA{
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
.infoLink{
	margin: .75%;
}
@media(max-width: 800px){
	nav{
		display: flex;
		flex-direction: column;
	}
	.navA{
		margin-bottom: 4%;
	}
	h1{
		margin-top: 45px;
	}
	.imgSection{
		width: 85%;
		height: 50vh;
	}
}
@media(max-width: 580px){
	h2{
		font-size: 2.5rem;
	}

}
